---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ValueProps from "../components/ValueProps.astro";
import WhyHaven from "../components/WhyHaven.astro";
import UnderTheHood from "../components/UnderTheHood.astro";
import AppPreview from "../components/AppPreview.astro";
import Comparison from "../components/Comparison.astro";
import Roadmap from "../components/Roadmap.astro";
import BetaSignup from "../components/BetaSignup.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main id="main">
    <Hero />
    <ValueProps />
    <WhyHaven />
    <UnderTheHood />
    <AppPreview />
    <Comparison />
    <Roadmap />
    <BetaSignup />
  </main>
  <Footer />
</Base>
